<h1>MainBoard#hello</h1>
<p>Find me in app/views/main_board/hello.html.erb</p>
<p><div id="answer" onclick="javascript: $('#answer').hide();">Ok, I found you.</div></p>
<p>Extra text: <%="#{@extra_text}"%></p>
