<% @page_title = "Setup game" %>
<%= form_tag(:action => "start_game") do %>
<div id="setup" style="padding-left:10px;">
<h1>New game</h1>
<p>
<table>
<tr>
  <td>Board size:</td>
  <td>
  <%= options = (MIN_BOARD_SIZE..MAX_BOARD_SIZE).to_a.map do |i|
	["#{i}x#{i}", i]
      end
      select_tag(:board_size_input, options_for_select(options, DEFAULT_BOARD_SIZE), { :style => 'width: 100%' })
  %>
  </td>
</tr>
<tr>
  <td>Winning condition:</td>
  <td>
  <%= options = (MIN_ROW_LENGTH..MAX_ROW_LENGTH).to_a.map do |i|
	["#{i} in a row", i]
      end
      select_tag(:row_length_input, options_for_select(options, DEFAULT_ROW_LENGTH), { :style => 'width: 100%' })
  %>
  </td>
</tr>
<tr>
  <td>First move:</td>
  <td><select name="first-move-input" style="width: 100%">
    <option>Player</option>
    <option>Computer</option>
  </select></td>
</tr>
</table>
</p>
<p style="padding-left:10px;">
<!-- <button type="button">Start game</button> -->
<%= submit_tag(" Start game ") %>
<div class="error-text" style="color:#FF0000"></div>
</p>
</div>
<% end %>
